@font-face {
    font-family: 'VITRO_CORE';
    font-style: normal;
    font-weight: 400;
    src: url("./VITRO_CORE.woff2") format('woff');
}
@font-face {
    font-family: 'VITRO_PRIDE';
    font-style: normal;
    font-weight: 400;
    src: url("./VITRO_PRIDE.woff2") format('woff');
}
@font-face {
    font-family: 'VITRO_INSPIRE';
    font-style: normal;
    font-weight: 400;
    src: url("./VITRO_INSPIRE.woff2") format('woff');
}